/*****************************************************************************/
/* Imports en andere @-regels (exclusief responsieve).                       */
/*****************************************************************************/

/* Importeer verschillende lettertypen d.m.v. Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Coda|Source+Sans+Pro');

/*****************************************************************************/
/* 'Grote' elementen als BODY, HTML e.d.                                     */
/*****************************************************************************/

/* Standaardlettertype en achtergrondkleur */
body {
    font-family: "Source Sans Pro", sans-serif;
    color: #111;
    background-color: #164225;
}

/* Eigenschappen van de hoofdinhoud */
main {
    background-color: #FAFAFA;
    width: 85%;
    top: 0;
    height: 100%;
    max-width: 75%;
    margin: auto;
    box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.5);
}

/* Gedeelte met 'eigenlijke' inhoud */
section {
    padding: 7.5% 2%;
}

/* Navigatiebalk */
nav {
    top: 0;
    left: 0;
    height: 4em;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    background-color: #FAFAFA;
    box-shadow: 0px 16px 15px -5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 16px 15px -5px rgba(0, 0, 0, 0.5);
}

nav > a {
    text-align: center;
    padding: 1.4em;
    color: #111;
    text-decoration: none;
    float: left;
}

nav > a:hover {
    background-color: #69A27C;
    color: #111 !important;
    text-decoration: none;
}

nav > a.active,
nav > a.active {
    background-color: #297B45;
    color: #FFF !important;
}

nav > a.right {
    float: right;
}

/*****************************************************************************/
/* DIV's en andere 'kleine' elementen.                                       */
/*****************************************************************************/

/* H-elementen (titels). */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Coda", serif;
}

h1 {
    font-size: 205%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 130%;
}

h5 {
    font-size: 115%;
}

h6 {
    font-size: 105%;
}

/* A-elementen (links e.d.) */
a {
    color: #164225;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #23683A;
}

/* Tabel met EC en toetsen */
.ec_table {
    width: 90%;
    margin: auto;
}

.ec_table > tbody > tr.failed {
    background-color: #FF9999;
}

.ec_table > tbody > tr.passed {
    background-color: #99FF99;
}

.ec_table > tbody > tr > td {
    text-align: center;
}

/* Zorg voor een gelijke breedte van de eerste kolom */
.equal_width_fcol {
    width: 30%;
}

/* Kleine tekst */
.small_left {
    font-size: 0.7em;
}

.small_right {
    font-size: 0.7em;
    text-align: right;
}

/* Toon copyright etc. aan de onderkant van pagina */
.copy {
    margin-bottom: -6em;
}

/* Afbeeldingen */
img {
    display: inline;
}

/* Generieke inline-klas */
.inline {
    display: inline;
}

/* Vetgedrukte geordende lijst */
.list_bold > li {
    font-weight: bold;
}

/*****************************************************************************/
/* Float-klassen                                                             */
/*****************************************************************************/

/* Plaats elementen met 'class="left_half"' links met breedte 50% */
.left_half {
    display: block;
    float: left;
    width: 45%;
    margin: 0.5em;
}

/* Plaats elementen met 'class="right_half"' rechts met breedte 50% */
.right_half {
    display: block;
    float: right;
    width: 45%;
    margin: 0.5em;
}

/* Generieke floats */
.float_left {
    float: left;
}

.float_right {
    float: right;
}

/* Zorg ervoor dat de pagina verder uitbreidt. */
.clear {
    clear: both;
}