/*****************************************************************************/
/* Imports en andere @-regels (exclusief responsieve).                       */
/*****************************************************************************/

/* Importeer verschillende lettertypen d.m.v. Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Coda|Source+Sans+Pro');

/*****************************************************************************/
/* 'Grote' elementen als BODY, HTML e.d.                                     */
/*****************************************************************************/

/* Standaardlettertype en achtergrondkleur */
body {
    top: 0;
    bottom: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #111;
    background-color: #164225;
    overflow-x: hidden;
}

/* Eigenschappen van de hoofdinhoud */
main {
    background-color: #FAFAFA;
    width: 85%;
    top: 0;
    bottom: 0;
    height: 100%;
    margin: auto;
    box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.5);
}

/* Gedeelte met 'eigenlijke' inhoud */
section {
    padding: 2% 2% 10px 2%;
}

/* Navigatiebalk */
nav {
    top: 0;
    left: 0;
    height: 4em;
    width: 100%;
    margin: 0;
    padding: 0;
    position: sticky;
    overflow: hidden;
    background-color: #FAFAFA;
    box-shadow: 0px 16px 15px -5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 16px 15px -5px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

nav > a {
    text-align: center;
    padding: 1.5em;
    color: #111;
    text-decoration: none;
    float: left;
    display: block;
}

nav > a:hover {
    background-color: #69A27C;
    color: #111 !important;
    text-decoration: none;
}

nav > a.active,
nav > a.active {
    background-color: #297B45;
    color: #FFF !important;
}

nav > a.right {
    float: right;
}

.nav_icon {
    display: none;
}

/*****************************************************************************/
/* DIV's en andere 'kleine' elementen.                                       */
/*****************************************************************************/

/* H-elementen (titels). */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Coda", serif;
}

h1 {
    font-size: 205%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 130%;
}

h5 {
    font-size: 115%;
}

h6 {
    font-size: 105%;
}

/* A-elementen (links e.d.) */
a {
    color: #164225;
}

a:hover {
    color: #23683A;
}

/* Tekst */
p,
ul,
ol {
    line-height: 1.3em;
}

/* Lijsten */
ul {
    list-style-type: disc;
}

/* Tabel met EC en toetsen */
.ec_table {
    width: 90%;
    margin: auto;
}

.ec_table > tbody > tr.failed {
    background-color: #FF9999;
}

.ec_table > tbody > tr.passed {
    background-color: #99FF99;
}

.ec_table > tbody > tr > td {
    text-align: center;
}

/* Zorg voor een gelijke breedte van de eerste kolom */
.equal_width_fcol {
    width: 30%;
}

/* Kleine tekst */
.small_left {
    font-size: 0.7em;
}

.small_right {
    font-size: 0.7em;
    text-align: right;
}

/* Vetgedrukte geordende lijst */
.list_bold > li {
    font-weight: bold;
}

/*****************************************************************************/
/* Citaties                                                                  */
/*****************************************************************************/
blockquote {
    margin: auto 0.625em;
    padding: 5px;
    border-left: 5px solid #BBB;
    border-right: 5px solid #BBB;
}

blockquote > .in_blockquote {
    margin: 0 0 1em;
}

blockquote > p:not(:last-child) {
    margin: 0 0 1em;
}

blockquote > p:last-child {
    margin: 0;
}

cite::before {
    content: "—";
    padding-right: 5px;
}

cite {
    margin-left: 1em;
    font-style: normal;
}

/*****************************************************************************/
/* Float-klassen                                                             */
/*****************************************************************************/

/* Generieke floats */
.float_left {
    float: left;
}

.float_right {
    float: right;
}

/* Plaats element in het midden (soort van 'float') */
.float_center {
    margin: auto;
    width: 100%;
}

/* Blijkbaar hebben afbeeldingen speciale stijl nodig */
.center_image_wrapper {
    width: 100%;
    text-align: center;
}

.float_center_image {
    display: inline-block;
    margin: 0 auto;
}

/* Zorg ervoor dat de pagina verder uitbreidt. */
.clear {
    clear: both;
}

/*****************************************************************************/
/* Flex-klassen                                                              */
/*****************************************************************************/

/* Algemene flex-klasse */
.flex {
    display: flex;
}

/* Home */
/* Inhoud */
.flex_home {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}

.flex_home > .flex_home_content {
    flex-grow: 1;
    padding: 5px;
}

/* Programmeertaalafbeeldingen */
.flex_prog_icons {
    flex-wrap: nowrap;
    justify-content: center;
}