/*
    Hierin gaan alle regels die te maken hebben met responsiefheid. Bijbehorende
    JavaScript is 'responsive.js'.
*/

/*
    Verbreed de witte achtergrond bij maximale grootte van 425 px
    
    Zorgt er ook voor dat de EC-tabel een scrollbalk gaat tonen.
*/
@media screen and (max-width: 500px) {
    main {
        width: 95%;
    }

    .scrollable_ec_table {
        overflow-x: scroll;
    }
}

/* 
    Toon de introductie op de home-pagina onder elkaar op schermen <651px (vreemde
    waarde, maar blijkbaar werkt het niet anders)
*/
@media screen and (max-width: 651px) {
    .flex_home {
        flex-wrap: wrap;
        justify-content: left;
    }

    .flex_home > .flex_home_content {
        padding: 0;
    }
}

/* 
    Navigatiebalk (update 810px naargelang er meer links worden toegevoegd)
    
    JavaScript hiervoor is te vinden in 'js/responsive.js'.
*/
@media screen and (max-width: 810px) {
    /* Toon alleen de Home-knop */
    nav > a:not(:first-child),
    nav > div.dropdown {
        display: none;
    }

    /* Toon icoontje */
    .nav_icon {
        float: right;
        position: sticky;
        right: 0;
        top: 0;
    }

    .nav_js > a.nav_icon {
        display: block;
    }

    /* nav_responsive-klas en bijbehorende stijl voor andere klassen */
    .nav_responsive {
        position: sticky;
        overflow: visible;
    }

    .nav_responsive > a,
    .nav_responsive > div.dropdown,
    .nav_responsive > div.dropdown > a {
        float: none;
        display: block !important;
        width: 100%;
        text-align: left;
        background-color: #FFF;
    }
    
    nav > div.dropdown > div.dropdown_content {
        float: none;
        position: relative;
        display: none !important;
    }

    nav > div.dropdown:hover > div.dropdown_content {
        display: inline-block !important;
        z-index: 2;
        margin-top: 0;
    }
}

/* Verberg de EC-grafiek wanneer het scherm <=800px */
@media screen and (max-width: 800px) {
    .chartjs-render-monitor, .responsive_graph_explanation {
        display: none !important;
    }
}