Options -Multiviews
RewriteEngine On

# Rewrite categories.php
RewriteRule ^category/(.*[^/])/?$ categories.php?category=$1 [L,QSA]

# Rewrite date.php
## Year-only
RewriteRule ^([0-9]+)/?$ date.php?year=$1 [L,QSA]

## Year and month
RewriteRule ^([0-9]+)/([0-9]+)/?$ date.php?year=$1&month=$2 [L,QSA]

# Rewrite individual.php
RewriteRule ^([0-9]+)/(.*[^/])/?$ individual.php?year=$1&post=$2 [L,QSA]

# Block access to certain files
<Files .htaccess>
    order allow,deny
    deny from all
</Files>